.movie-card {
  padding: 18px 0;
  width: 360px;
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
  background-color: #222222;
}

@media screen and (max-width: 950px) {
  .movie-card {
    width: 342px;
  }
}

@media screen and (max-width: 425px) {
  .movie-card {
    padding: 14px 0;
    width: 300px;
  }
}
