.movie-card__thumbnail {
  display: block;
  width: 100%;
  height: 200px;
}

@media screen and (max-width: 950px) {
  .movie-card__thumbnail {
    height: 190px;
  }
}

@media screen and (max-width: 425px) {
  .movie-card__thumbnail {
    height: 168px;
  }
}
