.portfolio__link-text {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.67;
  color: #fff;
  letter-spacing: -0.64px;
}

@media screen and (max-width: 950px) {
  .portfolio__link-text {
    font-size: 28px;
    line-height: 1.79;
  }
}

@media screen and (max-width: 750px) {
  .portfolio__link-text {
    font-size: 18px;
    line-height: 1.56;
  }
}
