.movies-uploader__button {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 320px;
  height: 36px;
  border: 1px solid #424242;
  border-radius: 10px;
  outline: none;
  background-color: #202020;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  color: #fff;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

.movies-uploader__button:hover {
  cursor: pointer;
  color: #000;
  background-color: #fff;
}

@media screen and (max-width: 425px) {
  .movies-uploader__button {
    width: 240px;
  }
}
