.plan-grid__text_quarter_three {
  margin: 14px 0 0;
  font-weight: 500;
  color: #8b8b8b;
}

@media screen and (max-width: 950px) {
  .plan-grid__text_quarter_three {
    font-weight: 400;
    color: #a0a0a0;
  }
}

@media screen and (max-width: 425px) {
  .plan-grid__text_quarter_three {
    margin: 10px 0 0;
  }
}
