.navigation__link_type_profile {
  display: flex;
  align-items: center;
  gap: 13px;
  margin: 0 0 0 30px;
}

@media screen and (max-width: 768px) {
  .navigation__link_type_profile {
    margin-top: auto;
    margin-left: 0;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 425px) {
  .navigation__link_type_profile {
    margin-top: auto;
  }
}
