.navigation__link_type_login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 30px;
  width: 76px;
  height: 32px;
  border-radius: 3px;
  background-color: #3ddc84;
  font-size: 12px;
  line-height: 1.33;
  color: #000;
  transition: background-color 0.2s ease-out;
}

.navigation__link_type_login:hover {
  background-color: #eee;
  opacity: 1.0;
}

@media screen and (max-width: 425px) {
  .navigation__link_type_login {
    margin: 0 0 0 14px;
    width: 54px;
    height: 26px;
    font-size: 10px;
    line-height: 1.6;
  }
}
