.navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.2s ease-out;
}

.navigation__link:hover {
  opacity: 0.4;
}

@media screen and (max-width: 425px) {
  .navigation__link {
    font-size: 10px;
    line-height: 1.6;
  }
}
