.search-form {
  position: relative;
  display: grid;
  padding: 70px 0 47px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 950px) {
  .search-form {
    padding: 80px 0 60px;
   }
}
