.auth-form__input-span {
  visibility: hidden;
  margin: 6px 0 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  color: #EE3465;
}

@media screen and (max-width: 425px) {
  .auth-form__input-span {
    font-size: 10px;
  }
}
