.profile-form__input {
  margin: 0 0 0 40px;
  padding: 16px 0 16px;
  width: 100%;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 11px;
  line-height: 1.18;
  font-weight: 400;
  text-align: right;
  color: #fff;
}
