.profile-form__input {
  margin: 8px 0;
  padding: 8px 0;
  width: 80%;
  height: 14px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 11px;
  line-height: 1.18;
  font-weight: 400;
  text-align: right;
  color: #fff;
}
