.footer__container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0;
}

@media screen and (max-width: 560px) {
  .footer__container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
    margin: 30px 0 0;
  }
}
