.footer__link-list {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 560px) {
  .footer__link-list {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}
