.footer {
  margin: auto 0 0;
  padding: 79px 70px 20px;
}

@media screen and (max-width: 950px) {
  .footer {
    padding: 79px 30px 10px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    padding: 79px 10px 10px;
  }
}
