.techs__title {
  margin: 90px 0 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 950px) {
  .techs__title {
    margin: 80px 0 0;
  }
}

@media screen and (max-width: 750px) {
  .techs__title {
    margin: 60px 0 0;
    font-size: 30px;
    line-height: 1.2;
  }
}
