.techs__button-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 100px 0 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 749px) {
  .techs__button-list {
    padding: 0 calc((100% - 590px) / 2) 0;
  }
}

@media screen and (max-width: 649px) {
  .techs__button-list {
    padding: 0 calc((100% - 490px) / 2) 0;
  }
}

@media screen and (max-width: 549px) {
  .techs__button-list {
    padding: 0 calc((100% - 390px) / 2) 0;
  }
}

@media screen and (max-width: 500px) {
  .techs__button-list {
    margin: 50px 0 0;
  }
}

@media screen and (max-width: 449px) {
  .techs__button-list {
    padding: 0 calc((100% - 290px) / 2) 0;
  }
}

@media screen and (max-width: 393px) {
  .techs__button-list {
    padding: 0 calc((100% - 178px) / 2) 0;
  }
}
