.not-found-page__title {
  margin: 246px 0 0;
  font-size: 140px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .not-found-page__title {
    margin: 408px 0 0;
  }
}

@media screen and (max-width: 425px) {
  .not-found-page__title {
    margin: 329px 0 0;
    font-size: 80px;
    line-height: 1.21;
  }
}
