.navtab__button {
  padding: 10px 0;
  width: 96px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  color: #fff;
  background-color: #303030;
}
